<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Assignment for {{assignmentController.course.name}}</h1>
  </div>
</header>
<br>
<div class = "container">
  <div class="row">
    <div class="navbar navbar-inverse navbar-fixed-left col-lg-2 col-md-2" col-sm-2 col-xs-1>
      <ul class="nav navbar-nav">
        <li>
          <a href="/student/course/{{assignmentController.course._id}}">
          <h4>Back to {{assignmentController.course.name}}</h4>
          </a>
        </li>

        <li ng-repeat="aProblem in assignmentController.problems">
          <a href = "#" ng-click="assignmentController.changeProblem(aProblem._id)">
            <h3>Problem {{$index + 1}} <i class="glyphicon glyphicon-ok-circle"></i></h3>
          </a>
        </li>
      </ul>
    </div>
    <div class="problem-container container col-lg-10 col-md-10 col-sm-10 col-xs-8">
      <problem-card myproblemspecific="assignmentController.selectedProblemSpecific"
                    myproblemgeneral="assignmentController.selectedProblemOverview"
                    myuserid="assignmentController.userId"
                    myproblemid="assignmentController.problemId"></problem-card>
    </div>
  </div>
</div>
