<header class="hero-unit" id="banner">
  <div class="container">
    <h2>Assignment for {{assignmentController.course.name}}</h2>
  </div>
</header>
<br>
<a href="/student/course/{{assignmentController.course._id}}">
  <h4>Back</h4>
</a>
<div class = "container">
  <div class="row">
    <div class="left-nav navbar navbar-inverse navbar-fixed-left col-lg-2 col-md-2 col-sm-2 col-xs-1">
      <ul class=" nav navbar-nav">
        <li class="left-nav-header">
          <h3>{{assignmentController.course.name}}</h3>
        </li>
        <li class = "left-nav-item" ng-repeat="aProblem in assignmentController.problems">
          <a href = "#" ng-click="assignmentController.changeProblem(aProblem._id)">
            <span><h4><i class="glyphicon glyphicon-ok-circle"></i> Problem {{$index + 1}}</h4></span>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <div class="problem-container container col-lg-8 col-md-8 col-sm-8 col-xs-6">
        <problem-card myproblemspecific="assignmentController.selectedProblemSpecific"
                      myproblemgeneral="assignmentController.selectedProblemOverview"
                      myuserid="assignmentController.userId"
                      myproblemid="assignmentController.problemId"></problem-card>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <button class="btn pull-down">Left</button>
          <button class="btn pull-down">Right</button>
        </div>
      </div>
    </div>
  </div>
</div>
