<div class="container col-md-4 col-lg-4 col-sm-12">
  <div class="card">
    <div class="card-header text-white" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      <h3 class="card-title">{{courseCardController.course.name}}</h3>
    </div>
    <div class="card-body">
      <h6 class="card-text">{{courseCardController.course.description}}</h6>
    </div>
    <div class="card-footer">
      <p>Subjects: </p><p ng-repeat="subject in courseCardController.course.subjects">{{subject}}, </p>
      <p>Categories: </p><p ng-repeat="category in courseCardController.course.categories">{{category}}, </p>
  </div>
    <a href="/student/courses/{{courseCardController.course._id}}" class="btn btn-primary infoButton">More Info</a>
  </div>
</div>

