.card {
  height: 300px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
}

.card-header {
  background-color: #4393B9;
  border-color: #4393B9;
}

.infoButton {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #E9992A;
  border-color: #E9992A;

}

.card-footer {
  font-size: 12px;
  text-align: left;
  overflow-wrap: break-word;
  position: absolute;
  bottom: 10%;
  width: 100%;
}
