<div class="container col-md-offset-3 col-lg-6 col-sm-12">
  <div class="card">
    <div class="card-header text-white" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
      <h3 class="card-title">{{assignmentCardController.assignment.title}}</h3>
    </div>
    <div class="card-body">
      <h5 class="card-text">{{assignmentCardController.assignment.description}}</h5>
    </div>
    <div class="card-footer">
      <p>Min problem:{{assignmentCardController.assignment.minNumProblems}}</p>
      <p>Max problem:{{assignmentCardController.assignment.maxNumProblems}}</p>
    </div>
    <button ng-disabled = "!(assignmentCardController.istailored)" class="btn btn-primary goButton" ng-click="assignmentCardController.redirect()">Go</button>
  </div>
</div>

