<header class="hero-unit" id="banner">
  <div class="container">
    <h1>{{courseAbstractController.course.name}}</h1>
  </div>
</header>
<br>
<div class="container">
  <div class="courseTeacher col-md-offset-5 col-lg-6 col-sm-12">Teacher:{{courseAbstractController.course.teacher.name}}</div>
  <div class="courseData col-md-offset-5 col-lg-6 col-sm-12">subject: {{courseAbstractController.course.name}}</div>
  <div class="courseData col-md-offset-5 col-lg-6 col-sm-12">categories:{{courseAbstractController.course.categories}}</div>
  <div class="description col-md-offset-3 col-lg-6 col-sm-12">{{courseAbstractController.course.description}}</div>
  <button class="btn btn-primary" ng-click="courseAbstractController.register()">Register</button>
  <div ng-repeat="anAssignment in courseAbstractController.assignments">
    <assignment-card-abstract assignment="anAssignment"  ></assignment-card-abstract>
  </div>
</div>




