<div class='container-fluid typeahead'>
  <div class="row">
    <div class="searchContainer col-lg-10 col-md-10 col-sm-10 col-xs-12">
     <input  class="searchInput" type="text" ng-model="typeaheadController.selected" uib-typeahead="value for value in typeaheadController.values | filter:$viewValue | limitTo:8" class="form-control">
    </div>
    <div class="buttonContainer col-lg-2 col-lg-offset-0 col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-4">
      <button type="button" class="submitButton btn btn-primary btn-block" value="Search" ng-click="typeaheadController.submit({value: typeaheadController.selected}); typeaheadController.clear()"><i class="glyphicon glyphicon-chevron-right"></i></button>
    </div>
  </div>
</div>
