.submitButton{
  background-color: $orange;
  border-color: $orange;
  padding: 0px;
  padding-left:0px;
  padding-right: 0px;

}
.searchInput{
  padding: 0px;
  width: 50%;
  height: 34px;
  font-size: 14px;
  line-height: 1.428571429;
  color: $orange;
  background-color: #fff;
  background-image: none;
  border: 2px solid $orange;
  border-radius: 4px;
  align-self: center;
}
.searchContainer{
  padding-left: 0px;
  padding-right: 0px;
  align-content: center;
  width: 50% !important;
}
.buttonContainer{
  padding-right: 0px;
  padding-left: 0px;
}
