.navbar a {
  color: $lightest-grey;
  font-size: x-large;
  font-family: Arial;
  list-style: none;
  display: block;
  text-align: justify;
}

.navbar ul{
  display: inline;
}

.navbar-brand {
  //height: 50px;
}

.navbar-logo {
  height: 60px;
}

.right-nav{
  list-style-type: none;
  ul {

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: right;
  }

  li a {
   // display: block;
    text-align: center;
    padding:  15px;
    text-decoration: none;
  }
  li a:hover {
    background-color: $lightest-grey;
}}
.navbar {
  background-color: $black;
  border-radius: 0;
  color: $light-grey;
  .navbar-brand {
    color: $light-grey;
    &:hover, &:focus {
      color: #333;

    }
  }
  .navbar-text {
    color: $light-grey;

    a {
      color: $lightest-grey;
      &:hover, &:focus {
        color: $lightest-grey;
      }
    }
  }
  .navbar-nav {

  .nav-link {
      color: $gray-darker;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
         color: $gray;
        }
      }
    }


    .navbar-toggle {
     border-color: $gray;
      &:hover, &:focus {
        background-color: $gray;
      }
      .navbar-toggler-icon {
        color: $dark-grey;
      }
    }

    .navbar-collapse,
    .navbar-form {
      border-color: $light-grey;
    }
    .navbar-link {
      color: $light-grey;
      &:hover {
        color: $dark-grey;
      }
    }
  }
}



