.navbar a {
  color: $lightest-grey;
}

.navbar-brand {
  //height: 50px;
}

.navbar-logo {
  height: 60px;
}

.navbar {
  background-color: $dark-grey;
  border-radius: 0;
  color: $light-grey;
  .navbar-brand {
    color: $light-grey;
    &:hover, &:focus {
      color: $light-grey;
    }
  }
  .navbar-text {
    color: $light-grey;
    a {
      color: $lightest-grey;
      &:hover, &:focus {
        color: $lightest-grey;
      }
    }
  }
  .navbar-nav {

    a:hover{
      background-color:$dark-grey;
    }

      .nav-link {
      color: $dark-grey;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
         color: $gray;
        }
      }
    }

    .navbar-toggle {
     border-color: $gray;
      &:hover, &:focus {
        background-color: $gray;
      }
      .navbar-toggler-icon {
        color: $dark-grey;
      }
    }
    .navbar-collapse,
    .navbar-form {
      border-color: $light-grey;
    }
    .navbar-link {
      color: $light-grey;
      &:hover {
        color: $dark-grey;
      }
    }
  }
}

