<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.css" integrity="sha384-VEnyslhHLHiYPca9KFkBB3CMeslnM9CzwjxsEbZTeA21JBm7tdLwKoZmCt3cZTYD" crossorigin="anonymous">
<!--<div class="container col-md-4 col-lg-4 col-sm-12">-->
<div class="problem-card">
  <div class="card-header-problem text-black">
    <h2>{{problemCardController.myproblemgeneral.instructions}}</h2>
  </div>
  <div class="description-problem-problem">
    <span id="problemDisplay-problem"></span>
  </div>
  <div id="problem-input"></div>
  <!--<div class="text-box-problem">-->
  <input class="text-box-problem" id="text-box-problem" ng-model="problemCardController.userInput" ng-change="problemCardController.updateDisplay()" type="text">
  <!--</div>-->
  <div class="submit-button-problem">
    <button ng-click="problemCardController.submitSolution()" type="button" class="btn btn-default">SUBMIT</button>
  </div>
  <button type="button" class="button-toggler" ng-click="problemCardController.click('basic_operators_isClicked')"> Basic Operators </button>
  <div class="operators-container" ng-show="problemCardController.basic_operators_isClicked">
      <span class="sqrt-button">
        <button type="button" ng-click="problemCardController.append('sqrt')"> &#8730; </button>
      </span>
    <span class="plus-button">
        <button type="button" ng-click="problemCardController.append('plus')"> &#43; </button>
      </span>
    <span class="sqrt-button">
        <button type="button" ng-click="problemCardController.append('mult')"> &#42; </button>
      </span>
    <span class="plus-button">
        <button type="button" ng-click="problemCardController.append('div')"> &#47; </button>
      </span>
    <span class="equals-button">
        <button type="button" ng-click="problemCardController.append('equals')"> &#61; </button>
      </span>
    <span class="sqrt-button">
        <button type="button" ng-click="problemCardController.append('greater')"> &#62; </button>
      </span>
    <span class="plus-button">
        <button type="button" ng-click="problemCardController.append('less')"> &#60; </button>
      </span>
  </div>
  <button type="button" class="button-toggler" ng-click="problemCardController.click('constants_isClicked')"> Constants </button>
  <div class="constants-container" ng-show="problemCardController.constants_isClicked">
      <span class="pi-button">
        <button type="button" ng-click="problemCardController.append('pi')"> &#960; </button>
      </span>
    <span class="e-button">
        <button type="button" ng-click="problemCardController.append('e')"> e </button>
      </span>
    <span class="infinity-button">
        <button type="button" ng-click="problemCardController.append('infinity')"> &#x221e; </button>
      </span>
    <span class="i-button">
        <button type="button" ng-click="problemCardController.append('i')"> i </button>
      </span>
    <span class="zeta-button">
        <button type="button" ng-click="problemCardController.append('zeta')">   &zeta; </button>
      </span>
    <span class="tau-button">
        <button type="button" ng-click="problemCardController.append('tau')"> &#964; </button>
      </span>
  </div>
  <button type="button" class="button-toggler" ng-click="problemCardController.click('logical_isClicked')"> Logical Connectives </button>
  <div class="logical-container" ng-show="problemCardController.logical_isClicked">
      <span class="rightarrow-button">
        <button type="button" ng-click="problemCardController.append('rightarrow')"> &#8594; </button>
      </span>
    <span class="leftarrow-button">
      <button type="button" ng-click="problemCardController.append('leftarrow')"> &#8592; </button>
      </span>
    <span class="forall-button">
      <button type="button" ng-click="problemCardController.append('forall')"> &#8704; </button>
      </span>
    <span class="exists-button">
      <button type="button" ng-click="problemCardController.append('exists')"> &#8707; </button>
      </span>
  </div>

</div>
<!--</div>—>

