<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.css" integrity="sha384-VEnyslhHLHiYPca9KFkBB3CMeslnM9CzwjxsEbZTeA21JBm7tdLwKoZmCt3cZTYD" crossorigin="anonymous">
<!--<div class="container col-md-4 col-lg-4 col-sm-12">-->
  <div class="problem-card">
    <div class="card-header text-black">
    </div>
    <div class="text-box">
      <input ng-model="problemCardController.userInput" ng-change="problemCardController.updateDisplay()" type="text">
    </div>
    <div class="problem">
      <!--<p>{{problemCardController.ast}}</p>-->
      <!--<p>{{problemCardController.latex}}</p>-->
      <!--<p>{{problemCardController.display}}</p>-->
      <span id="display"></span>
    </div>
    <div elass="submit-button">
      <button type="button">SUBMIT</button>
    </div>

  </div>
<!--</div>-->
