<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-beta1/katex.min.css" integrity="sha384-VEnyslhHLHiYPca9KFkBB3CMeslnM9CzwjxsEbZTeA21JBm7tdLwKoZmCt3cZTYD" crossorigin="anonymous">
<!--<div class="container col-md-4 col-lg-4 col-sm-12">-->
<div class="problem-card">
  <div class="card-header-problem text-black">
    <h2>{{problemCardController.myproblem.instructions}}</h2>
  </div>
  <div class="description-problem-problem">
    <span id="problemDisplay-problem"></span>
  </div>
  <div id="problem-input"></div>
  <!--<div class="text-box-problem">-->
  <input class="text-box-problem" ng-model="problemCardController.userInput" ng-change="problemCardController.updateDisplay()" type="text">
  <!--</div>-->
  <div class="submit-button-problem">
    <button type="button">SUBMIT</button>
  </div>
  <button type="button" ng-click="problemCardController.click()"> Basic operators </button>

  <span class="button-container" ng-show="problemCardController.isClicked">
      <span class="sqrt-button">
        <button type="button" ng-click="problemCardController.append('sqrt')"> &#8730; </button>
      </span>
      <span class="plus-button">
        <button type="button" ng-click="problemCardController.append('plus')"> &#43; </button>
      </span>
      <span class="sqrt-button">
        <button type="button" ng-click="problemCardController.append('mult')"> &#42; </button>
      </span>
      <span class="plus-button">
        <button type="button" ng-click="problemCardController.append('div')"> &#47; </button>
      </span>
      <span class="equals-button">
        <button type="button" ng-click="problemCardController.append('equals')"> &#61; </button>
      </span>
      <span class="sqrt-button">
        <button type="button" ng-click="problemCardController.append('greater')"> &#62; </button>
      </span>
      <span class="plus-button">
        <button type="button" ng-click="problemCardController.append('less')"> &#60; </button>
      </span>
  </span>
</div>
<!--</div>-->
