
.problem-card {
  text-align:center;
  margin: 10px;
  border-radius: 20px;
  width: 100%;
  position: relative;
}

.card-header-problem{
  height: 50px;
  background-color: lightblue;
  margin-bottom: 10px;
}

.problem-container {
  border-radius: 10px;
  background: #EEEEEE;
  border-color: #EEEEEE;
  color: #4b5257;
}

.description-problem-problem{
  background-color: lightcyan;
  color: black;
  margin-bottom: 10px;
}

#problem-input {
  background-color: white;
  border-color: #4393B9;
  height:150px;
  line-height: 150px;
  color: black;
  vertical-align: middle;
}

//in description
.problemDisplay-problem{
  text-align: center;
  top: -55px;
  position: relative;
}

.text-box-problem {
  margin-top: 20px;
  height: 55px;
}

.submit-button-problem {
  margin-top: 20px;
}

.operators-container{
  text-align: center;
  position: relative;
}

.constants-container{
  margin: 10px 0px;
  position: relative;
}
.operators-container{
  position: relative;
  margin:10px 0px;
}
.logical-container{
  position:relative;
  margin: 10px 0px;
}

.alert{
  position: fixed;
  top: 5%;
  right: 5%;
  width: 30%;
  z-index: 100;
  font-size: 24px;
}
