.teacher
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

span.bold {
    font-weight: bold;
}

#banner {
    color:#EBEBEB;
    background-color: #3D3D3D;
}

#subbanner {
    background-image: url("/assets/images/background.jpg");
    height: 29em;
    opacity: 50%;
    background-size: contain;
}

.sidebar {
    clear: both;
    overflow: hidden;
    margin-top: 9em;
    margin-left: 21em;
    position: absolute;
}

img.profile {
    border: 2px solid #021a40;
    border-radius: 50%;
    margin-top: 20em;
    margin-left: 14.5em;
    width: 17em;
    height: 17em;
}
