<header class="hero-unit" id="banner">
  <div class="container">
    <h1>{{courseController.course.name}}</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-3 offset-lg-1 col-md-12">
      <figure>
        <img class="profile center-block" src="/assets/images/jon_snow.jpg"/>
        <br>
        <div class="text-center"><span class="title bold">{{courseController.course.teacher.name}} Jon Snow</span></div>
        <hr class="blue-line">
        <div class="text-center"><span class="category">Categories: {{courseController.course.categories}}</span></div>
        <!--Need an angular variable for number of "spots left" and associated server code-->
        <div class="text-center"><span class="category spots">Spots Left: </span><span class="category">&#x221e;</span></div>
        <div class="break"></div>
          <figcaption>
            <button class="btn btn-primary center-block" ng-if="!courseController.isTailored" ng-click="courseController.enroll()">Enroll</button>
          </figcaption>
      </figure> 
    </div>
    <div class= "col-lg-7 col-md-12">
      <div class="container info">
        <br>
        <div><span class="title bold">{{courseController.course.name}}</span></div>
        <div>{{courseController.course.description}}</div>
      </div>
      <div class="center-block" ng-repeat="anAssignment in courseController.assignments">
        <assignment-card assignment="anAssignment" courseid="courseController.courseId" istailored="courseController.isTailored" ></assignment-card>
      </div>
    </div>
  </div>
</div>