.left-nav {
  background-color: $black;
}
.left-nav-item {
  background-color: $dark-grey;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
}

.left-nav-header {
  background-color: $black;
  color: $white;
}

