.subject {
    font-size: 25px;
}

.teacher {
    font-size: 25px;
}
.spots {
    color: #1A94D9;
}

.category {
    font-size: 20px;
}

.info {
    margin-left: 8px;
}

span.bold {
    font-weight: bold;
}

#banner {
    color:#EBEBEB;
    background-color: #3D3D3D;
}

#subbanner {
    background-image: url("/assets/images/background.jpg");
    background-size: contain;
}

img.profile {
    border: 2px solid #021a40;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: -125px;
}

.break {
    height: 15px;
}

.blue-line {
    background-color:#1A94D9;
    margin-left: 30px;
    margin-right: 30px;
    height: 3px;
}