<div class="modal-header">
  <h3 class="title" id="modalLabel">{{courseCreationModal.title}}</h3>
</div>
<div class="courseCreationModal modal-body">
  <form>
    <input required="required" placeholder="Name" ng-model="courseCreationModal.course.name" class="form-control" />
    <input required="required" placeholder="Description" ng-model="courseCreationModal.course.description" class="form-control" />
    <div class="col-xs-12 col-sm-6">
      <div class="subtitle">Subjects</div>
      <select title="Hold ctrl/cmd to select multiple" class="col-xs-12" name="multipleSelect" id="multipleSelect" ng-model="courseCreationModal.course.subjects" multiple>
        <option ng-repeat="subject in courseCreationModal.subjects" value="{{subject}}">{{subject}}</option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="subtitle">Categories</div>
      <select title="Hold ctrl/cmd to select multiple" class="col-xs-12" name="multipleSelect" id="multipleSelect" ng-model="courseCreationModal.course.categories" multiple>
        <option ng-repeat="category in courseCreationModal.categories" value="{{category}}">{{category}}</option>
      </select>
    </div>
    <div class="col-xs-12">
      <div ng-repeat="assignment in courseCreationModal.course.assignments">
        <div ng-init="index = courseCreationModal.course.assignments.indexOf(assignment)"></div>
        <div class="subtitle col-xs-6">Assignment {{index+1}}</div>
        <button type="button" class="btn btn-danger" ng-click="courseCreationModal.removeAssignment(index)" style="float: right; margin: 10px;">
          <i class="fa fa-times"></i>
        </button>
        <input required="required" placeholder="Title" ng-model="courseCreationModal.course.assignments[index].title" class="form-control" />
        <input required="required" placeholder="Description" ng-model="courseCreationModal.course.assignments[index].description" class="form-control" />
        <input required="required" placeholder="Minimum Number of Problems" ng-model="courseCreationModal.course.assignments[index].minNumProblems" class="form-control" />
        <input required="required" placeholder="Maximum Number of Problems" ng-model="courseCreationModal.course.assignments[index].maxNumProblems" class="form-control" />
        <input required="required" placeholder="Percentage of New Problems" ng-model="courseCreationModal.course.assignments[index].newProblemPercentage" class="form-control" />
        <input required="required" placeholder="Number of Possible Attempts" ng-model="courseCreationModal.course.assignments[index].numberOfPossibleAttempts" class="form-control" />
      </div>
    </div>
    <button type="button" class="btn btn-primary" ng-click="courseCreationModal.addAssignment()">Add Assignment</button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="courseCreationModal.submit()">Create Course</button>
  <button type="button" class="btn btn-secondary" ng-click="courseCreationModal.close()">Close</button>
</div>