

<header class="hero-unit" id="banner">
  <div class="container">
    <div class="studentBanner">
      <img class="profile" src={{teacherController.gravatarUrl}} />
      <h1>{{teacherController.teacher.name}}</h1>
    </div>
  </div>
</header>

<div class="student-container container">
  <div class="col-md-12">
    <button class="btn btn-default btn-lg btn-register" ng-click="teacherController.createModal()">Create Course</button>
    <div ng-repeat="aCourse in teacherController.courses" class="center-block">
      <course-card mycourse="aCourse"></course-card>
    </div>
  </div>
</div>

<div class="test-visualization">
  <nvd3 options="teacherController.options" data="teacherController.data"></nvd3>
</div>

